<style> 
.table {
    width: 100%;
}

.bestdeals {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestdeals h2 
    .table {
    width: 100%;
}

.bestdeals {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestdeals h2 
    .table {
    width: 100%;
}

.bestdeals {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestdeals h2 {
    /* font-family: 'DM Serif Display', serif; */
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    line-height: 46.6px;
    margin-bottom: 30px;
}

table {
    margin: 20px 0;
    width: 100%;
    border-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.th2 {
    background-color: #ffdd98;
    width: 15%;
    z-index: -1;
}

tr {
    height: 143px;
    text-align: center;
}

.tr1 {
    border: 5px solid red;
}

td {
    width: 10%;
}

.td1 {
    width: 23%;
    padding-left: 3%;
    text-align: start;
}

.gry {
    background-color: #F5F5F5;
}

/* For Mobile view*/

.Mobile-table{
    display: none;
}

.trc{
    background: #ffdd98;
}

@media screen and (max-width: 767px) {
    .table{
        display: none;
    }
    .Mobile-table{
        display: block;
        width: 100%;
    }
    .w40{
        width: 40%;
    }
    td{
        width: 30%;
    }
}

@media screen and (max-width: 460px) {
    .bestdeals h2 {
        font-size: 23px;
    }

    table {
        font-size: 12px;
    }

    tr svg {
        width: 20px;
        height: auto;
    }
}

@media screen and (max-width: 320) {
    .bestdeals h2 {
        font-size: 18px;
    }

    table {
        font-size: 8px;
    }

    tr svg {
        width: 12px;
        height: auto;
    }
}
    font-size: 34px;
    font-weight: 400;
    line-height: 46.6px;
    margin-bottom: 30px;
}

table {
    margin: 20px 0;
    width: 100%;
    border-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.th2 {
    background-color: #ffdd98;
    width: 15%;
    z-index: -1;
}

tr {
    height: 143px;
    text-align: center;
}

.tr1 {
    border: 5px solid red;
}

td {
    width: 10%;
}

.td1 {
    width: 23%;
    padding-left: 3%;
    text-align: start;
}

.gry {
    background-color: #F5F5F5;
}

/* For Mobile view*/

.Mobile-table{
    display: none;
}

.trc{
    background: #ffdd98;
}

@media screen and (max-width: 760px) {
    .table{
        display: none;
    }
    .Mobile-table{
        display: block;
        width: 100%;
    }
    .w40{
        width: 40%;
    }
    td{
        width: 30%;
    }
}

@media screen and (max-width: 460px) {
    .bestdeals h2 {
        font-size: 23px;
    }

    table {
        font-size: 12px;
    }

    tr svg {
        width: 20px;
        height: auto;
    }
}

@media screen and (max-width: 320) {
    .bestdeals h2 {
        font-size: 18px;
    }

    table {
        font-size: 8px;
    }

    tr svg {
        width: 12px;
        height: auto;
    }
}
    font-size: 34px;
    font-weight: 400;
    line-height: 46.6px;
    margin-bottom: 30px;
}

table {
    margin: 20px 0;
    width: 100%;
    border-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.th2 {
    background-color: #ffdd98;
    width: 15%;
    z-index: -1;
}

tr {
    height: 143px;
    text-align: center;
}

.tr1 {
    border: 5px solid red;
}

td {
    width: 10%;
}

.td1 {
    width: 23%;
    padding-left: 3%;
    text-align: start;
}

.gry {
    background-color: #F5F5F5;
}

/* For Mobile view*/

.Mobile-table{
    display: none;
}

.trc{
    background: #ffdd98;
}

@media screen and (max-width: 760px) {
    .table{
        display: none;
    }
    .Mobile-table{
        display: block;
        width: 100%;
    }
    .w40{
        width: 40%;
    }
    td{
        width: 30%;
    }
}

@media screen and (max-width: 460px) {
    .bestdeals h2 {
        font-size: 23px;
    }

    table {
        font-size: 12px;
    }

    tr svg {
        width: 20px;
        height: auto;
    }
}

@media screen and (max-width: 320) {
    .bestdeals h2 {
        font-size: 18px;
    }

    table {
        font-size: 8px;
    }

    tr svg {
        width: 12px;
        height: auto;
    }
}

  
</style>



    <section class="bestdeals">
        <h2>Best Deals, Better Choice</h2>
        <div class="table">
            <table class="besttable">
                <th></th>
                <th class="th2">ONLY DINING CHAIRS</th>
                <th><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/image_11.png?v=1696850097" alt=""></th>
                <th><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/image_10.png?v=1696850097" alt=""></th>
                <th><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/Zanui.png?v=1696850097" alt=""></th>
                <th><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/XMLID_1.png?v=1696850097" alt=""></th>
                <th><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/Layer_1.png?v=1696850097" alt=""></th>
                <th><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/image_8.png?v=1696850097" alt=""></th>
                <tr class="gry tr1">
                    <td class="td1">Number of Years <br>Warranty Coverage</td>
                    <td class="th2">LifeTime</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr class="gry">
                    <td class="td1">Regular Wear & Tear <br>Coverage</td>
                    <td class="th2"><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15 1.5C12.33 1.5 9.71987 2.29176 7.49981 3.77516C5.27974 5.25856 3.54942 7.36697 2.52763 9.83377C1.50585 12.3006 1.2385 15.015 1.7594 17.6337C2.28031 20.2525 3.56606 22.6579 5.45406 24.5459C7.34207 26.434 9.74754 27.7197 12.3663 28.2406C14.985 28.7615 17.6994 28.4942 20.1662 27.4724C22.633 26.4506 24.7414 24.7203 26.2248 22.5002C27.7082 20.2801 28.5 17.67 28.5 15C28.5 11.4196 27.0777 7.9858 24.5459 5.45406C22.0142 2.92232 18.5804 1.5 15 1.5ZM12.3 21.75L5.55001 15L7.45001 13.1L12.3 17.929L22.546 7.683L24.446 9.6L12.3 21.75Z"
                                fill="black" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  s      </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>
            </table>
        </div>
        <div class="Mobile-table">
            <table class="">
                <tr>
                    <th class="w40"></th>
                    <td class="gry">Number of Years <br>Warranty Coverage</td>
                    <td class="gry">Regular Wear & Tear <br>Coverage</td>
                </tr>
                <tr class="trc">
                    <th >ONLY DINING CHAIRS</th>
                    <td>LifeTime</td>
                    <td><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15 1.5C12.33 1.5 9.71987 2.29176 7.49981 3.77516C5.27974 5.25856 3.54942 7.36697 2.52763 9.83377C1.50585 12.3006 1.2385 15.015 1.7594 17.6337C2.28031 20.2525 3.56606 22.6579 5.45406 24.5459C7.34207 26.434 9.74754 27.7197 12.3663 28.2406C14.985 28.7615 17.6994 28.4942 20.1662 27.4724C22.633 26.4506 24.7414 24.7203 26.2248 22.5002C27.7082 20.2801 28.5 17.67 28.5 15C28.5 11.4196 27.0777 7.9858 24.5459 5.45406C22.0142 2.92232 18.5804 1.5 15 1.5ZM12.3 21.75L5.55001 15L7.45001 13.1L12.3 17.929L22.546 7.683L24.446 9.6L12.3 21.75Z"
                                fill="black" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <th class="w40"><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/image_11.png?v=1696850097" alt=""></th>
                    <td class="gry">2</td>
                    <td class="gry"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>
                <tr>
                    <th class="w40"><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/image_10.png?v=1696850097" alt=""></th>
                    <td class="gry">2</td>
                    <td class="gry"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>
                <tr>
                    <th class="w40"><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/Zanui.png?v=1696850097" alt=""></th>
                    <td class="gry">1</td>
                    <td class="gry"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>
                <tr>
                    <th class="w40"><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/XMLID_1.png?v=1696850097" alt=""></th>
                    <td class="gry">1</td>
                    <td class="gry"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>
                <tr>
                    <th class="w40"><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/Layer_1.png?v=1696850097" alt=""></th>
                    <td class="gry">1</td>
                    <td class="gry"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>
                <tr>
                    <th class="w40"><img src="https://cdn.shopify.com/s/files/1/0354/3475/8277/files/image_8.png?v=1696850097" alt=""></th>
                    <td class="gry">1</td>
                    <td class="gry"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></td>
                </tr>

            </table>
        </div>
    </section>


{% schema %}
{
  "name": "Home table",
  "settings": [
   
  ],
  "presets": [
    {
        "name": "Home table"
    }
  ]
}
{% endschema %} 