.product-price-ai .badge {
  display: none;
}
.he-complimentary-slider {
  box-shadow: 0 0 10px -1px #ccc;
  padding: 10px;
  border: 1px solid #000;
}

.he-card__information a:after {
  display: none;
}

.he-loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  display: block !important;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.he-popup > div {
  width: 100%;
}

.he-popup {
  position: fixed;
  background-color: #fff;
  padding: 60px !important;
  z-index: 99;
  box-shadow: 0 0 10px 10px #ccc;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.he-overlay::before {
  content: "";
  background: #0000008a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.he-popup .badge {
  height: 24px;
}

.removeButton {
  position: absolute;
  right: 30px;
  text-align: right;
  font-size: 50px;
  transform: rotate(45deg);
  transform-origin: right;
  top: 28px;
  z-index: 9;
  cursor: pointer;
  background: none;
  border: none;
  transform: rotate(90deg);
}

#he-popup .quantity-cart-add .product-form__quantity + div {
  display: none;
}

.updateButton {
  display: inline-block;
  background: none;
  width: 110px !important;
  margin-left: auto;
  border-radius: 3px;
  padding: 8px 20px;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.product-name-ai h3 {
  font: 400 30px / 1em GrayReg;
  margin-bottom: 20px;
}
.product-sku-ai p {
  margin-bottom: 20px;
}
.product-price-ai {
  display: flex;
  font-size: 24px;
  gap: 15px;
  margin-bottom: 15px;
  align-items: flex-end;
}
.hidden-block {
  display: none;
}
p.before-price-ai {
  text-decoration: line-through;
}
p.after-price-ai {
  color: red;
}
.sale-ai {
  display: flex;
  font-size: 14px;
  gap: 15px;
  margin-bottom: 20px;
}
p.save-ai {
  color: red;
}
p.safe-ai {
  font-weight: 600;
}
.product-des-ai p {
  border-top: 1px solid #d7d7d7;
  padding: 15px 0;
  font-size: 14px;
}

.product-pro-ai table h4 {
  font-weight: 400;
  margin-right: 100px;
}
.product-pro-ai table td {
  padding: 10px 0;
}
.cross-ai svg {
  width: 24px;
  text-align: right;
}
.side-ai {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.close-ai {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.close-ai a {
  border: 1px solid #000;

  color: black;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 41px;
  font-size: 24px;
}
.add-ai a {
  background-color: black;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  padding: 9px 58px;
}
.btns-ai {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px 0;
}
.side-ai {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
select#product-prw-qty {
  padding: 10px;
  width: 87px;
}
.cross-ai {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-row-ai {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.he-loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  width: 60px;
  top: 50%;
  left: 45%;
  height: 60px;
}
.Complementary-li .card__content {
  cursor:pointer;
}
@media (max-width: 980px) {
  .product-row-ai {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .he-popup {
    padding: 20px !important;
  }
  .side-ai,
  .close-ai {
    position: static;
  }
  .side-ai {
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .btns-ai {
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
