.he-complimentary-slider {
  box-shadow: 0 0 10px -1px #ccc;
  padding: 10px;
  border: 1px solid #000;
}

.he-card__information a:after {
  display: none;
}

.he-loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  display: block !important;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.he-popup>div {
  width: 100%;
}

.he-popup {
  position: fixed;
  background-color: #fff;
  padding: 60px !important;
  bottom: 30px;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #ccc;
  overflow-y: scroll;
}

.he-overlay::before {
  content: '';
  background: #0000008a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.removeButton {
  position: absolute;
  right: 30px;
  text-align: right;
  font-size: 50px;
  transform: rotate(45deg);
  transform-origin: right;
  top: 0;
  z-index: 9;
  cursor: pointer;
}

#he-popup .quantity-cart-add .product-form__quantity+div {
  display: none;
}

.updateButton {
  display: inline-block;
  background: #52AF3C;
  width: 110px !important;
  margin-left: auto;
  border-radius: 3px;
  padding: 8px 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media(max-width:767px){
  .he-popup {
    padding: 40px !important;
} 
.he-loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  width: 60px;
  top: 50%;
  left: 45%;
  height: 60px;
}
}